<div class="row" style="margin-top: 213px;">
<div class="col-lg-7 bg-light">
    <h3 class="text-center">Adds</h3>
    <ul  style="list-style-type: none;" *ngFor="let d of detail">
        <li style="height: 300px; border: 1px solid black;"> 
            <h2 class="text-center"> {{d.name}} </h2>
            <p>created by {{d.Email}} </p>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="m-1">Content:</h4>
                    <p class="mx-5 my-1"> {{d.para}} </p>
                </div>
            </div>  
        </li>
    </ul>
</div>
<div class="col-lg-5">
    <app-login class="container text-align-center" style="list-style-type: none;"></app-login>
</div>
</div>
